<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='广告位置列表'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <button class="layui-btn layui-btn-normal" onclick="addUser()">增加广告位置</button>

        <div style="display:none;" id="currentUser">
            <shiro:principal property="id"></shiro:principal>
        </div>

        <table id="uesrList" lay-filter="userTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <script type="text/html" id="jobTpl">
            {{#  if('0' == d.placeStatus){ }}
            <input type="checkbox" name="place_{{d.id}}" value="{{d.placeStatus}}" lay-skin="switch" lay-text="有效|无效"
                   lay-filter="isJobTpl" checked="checked"/>
            {{#  } else { }}
            <input type="checkbox" name="place_{{d.id}}" value="{{d.placeStatus}}" lay-skin="switch" lay-text="有效|无效"
                   lay-filter="isJobTpl"/>
            {{#  } }}
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="edituser" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="userForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">广告位置</label>
                <div class="layui-input-inline">
                    <input id="placeName" name="placeName" lay-verify="required" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-inline">
                    <textarea id="placeDesc" name="placeDesc" autocomplete="off" class="layui-input"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input id="placeStatusOk" name="placeStatus" value="0" title="有效" class="layui-input" type="radio"
                           checked="checked"/>
                    <input id="placeStatusFail" name="placeStatus" value="1" title="无效" class="layui-input"
                           type="radio"/>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn" lay-submit="" lay-filter="userSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/bussiness/indexContent.js"></script>

</div>
</body>
</html>