<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='广告位置列表'"></head>
<style>
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <form id="placeSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">彩种</label>
                    <div class="layui-input-inline" style="width: 175px;">
                        <select name="lotteryid" id="slotteryid">
                            <option value="1">幸运28</option>
                            <option value="4">加拿大28</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-label">时间</div>
                    <div class="layui-input-inline" style="width: 175px;">
                        <input id="sstartdate" name="startdate" lay-filter="startdate" class="layui-input"
                               placeholder="yyyy-MM-dd"/>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">提交</button>
                </div>
            </div>
        </form>

        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal" onclick="buildissue()">生成期号</button>

        <div style="display:none;" id="currentUser">
            <shiro:principal property="id"></shiro:principal>
        </div>

        <table id="uesrList" lay-filter="userTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>


    <!-- 生成指定某天的期号-->
    <div id="buildissueno" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="issueForm" class="layui-form" method="post" action="" style="margin-top: 20px;">
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="lotteryid" id="ulotteryid">
                                <option value="1">幸运28</option>
                                <option value="4">加拿大28</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input id="ustartdate" name="date" lay-filter="ustartdate" class="layui-input"
                                   placeholder="yyyy-MM-dd"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-form-item">
                        <div class="" align="center">
                            <button class="layui-btn" lay-submit="" lay-filter="btnbuildissue">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--添加或编辑用户-->

    <div id="setUser" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="userForm" class="layui-form" method="post" action="" style="margin-top: 20px;">
            <input id="id" type="hidden" name="id"/>
            <input id="lotteryid" type="hidden" name="lotteryid"/>
            <div class="layui-form-item">
                <label class="layui-form-label">彩种名</label>
                <div class="layui-input-inline">
                    <input id="lotteryname" name="lotteryname" lay-verify="required" autocomplete="off"
                           disabled="true" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">期号</label>
                <div class="layui-input-inline">
                    <input id="issueno" name="issueno" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">截止时间</label>
                <div class="layui-input-inline">
                    <input id="endtime" name="endstr" class="layui-input" type="text"
                           placeholder="yyyy-MM-dd HH:mm:ss"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">预测赛果</label>
                <div class="layui-input-inline">
                    <input id="yuceiresult" name="yuceiresult" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开奖号码</label>
                <div class="layui-input-inline">
                    <input id="number" name="number" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">赛果</label>
                <div class="layui-input-inline">
                    <input id="result" name="result" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input name="flag" value="0" title="开售" class="layui-input" type="radio"
                           checked="checked"/>
                    <input name="flag" value="1" title="停售" class="layui-input" type="radio"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn" lay-submit="" lay-filter="userSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/bussiness/issue.js"></script>

</div>
</body>
</html>