<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/js/ztree/css/zTreeStyle/zTreeStyle.css"></link>
<head th:include="layout :: htmlhead" th:with="title='文章管理'"></head>
<script type="text/javascript" src="/js/dateUtils.js"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <div class="layui-body">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li id="newsListLi" class="layui-this">文章列表</li>
                <li id="newseditLi">创建文章</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div id="newsListDiv" class="layui-tab-item layui-show">
                    <div th:include="buisses/news :: newslist"></div>
                </div>
                <div id="newseditDiv" class="layui-tab-item">
                    <div th:include="buisses/newsedit :: newsedit"></div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/bussiness/newsmid.js"></script>
</div>
</body>
</html>